<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Juan's Weather App</title>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="/static/css/style.css">    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Vigilant Weather</a>
  </nav>
  <body>
    <div class="container">
        <fieldset>
          <form action="/" method="post">
                <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="units" id="metric" autocomplete="off" value="metric" focus checked> Metric
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="units" id="imperial" value="imperial" autocomplete="off"> Imperial
                    </label>
                  </div>       
              <input type="submit" class="btn btn-dark btn-block m-1" value="Get Weather">
            </form>
            
            <section aria-label="temperature results" class="resultSection img-05">
              <% if(weather !== null){ %>
                <h3><img src="/static/assets/imgs/icons/location.png"><%= weatherCity %></h3>
                <p><img src="/static/assets/imgs/icons/thermometer.png"><%= weather %></p>
                <p><img src="/static/assets/imgs/icons/pressure.png" alt="pressure"><%= weatherPressure %></p>
                <p><img src="/static/assets/imgs/icons/wind.png" alt="wind"><%= weatherWind %></p>
                <p><img src="/static/assets/imgs/icons/cloud.png" alt="clouds"><%= weatherClouds %></p>
                <p><img src="/static/assets/imgs/icons/humidity.png" alt="humidity meter"><%= weatherHumidity %></p>
                
              <% } %> 
              <% if(error !== null){ %>
                <p><%= error %>Foi encontrado um erro! Por favor tente novamente!</p>
              <% } %>
            </section>
        </fieldset>
    </div>
  </body>
</html>